<h1><%= @exam.name %></h1>

<table width="100%">
	
<tr valign="top">
	<td width="460px">
	<div id="new-exam-form">
	<%= render 'form' %>
	</div>
	</td>
	
	<td width="460px">
	<%= render 'new_question' %>
	
	<div id="question-chooser" class="well span6 hide">
		<%= render 'include_question' %>
	</div>
	</td>
</tr>
</table>
